.services {
    margin: 0 auto;
    padding-bottom: 10rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid var(--blue-general-text);
}

.services .services__content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.services .services__content > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.services .services__content .services__subtitle {
    color: rgba(195, 219, 61, 0.75);
    text-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
    font-family: Kumbh Sans;
    font-weight: 700;
    margin-bottom: 4rem;
}

.services .services__content__header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.services .services__content__header img {
    max-width: 5rem;
    height: 5.5rem;
}

.services .services__content__header h3 {
    font-size: 3.4rem;
    color: var(--yellow-card-background);
    font-weight: 700;
    line-height: normal;
}

.services ul.services__content__items {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.services ul.services__content__items li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.services ul.services__content__items li img {
    max-width: 2.5rem;
}

.services ul.services__content__items li p {
    color: var(--gray-services-text);
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 169.023%;
}

.services .services__content__images {
    display: grid;
    grid-template-columns: repeat(3, 21.8rem);
    border: 3px solid var(--yellow-card-background);
    border-radius: 2rem;
    padding: 2rem 2rem;
    gap: 2.5rem;
    max-width: min-content;
}

.services .services__content__images img {
    object-fit: contain;
    height: auto;
    max-width: 21.8rem;
    border-radius: 2rem;
}






/* .services .services__content .services__card {
    background-color: var(--blue-general-text);
    border-radius: .6rem;
    max-width: 400px;
}

.services .services__content .services__card img {
    max-width: 400px;
    height: auto;
}

.services .services__content .services__card .card__title {
    color: #464646;
    font-size: 2.4rem;
    font-weight: 800;
    padding: 10px 0px 10px 10px;
}

.services .services__content .services__card .card__text {
    padding: 0px 0px 0px 10px;
    color: #464646;
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 169.023%;
} */
