.navBar {
    position: fixed;
    z-index: 200;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    background-color: rgba(66, 66, 66, 0.2);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.scroll {
    background-color: rgb(56, 56, 56);
}

.links {
    display: flex;
    align-items: center;
    gap: 70px;
}

.links li a {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--green-blue-light);
    padding-bottom: 1rem;
    max-width: max-content;
}

.links li a::after {
    margin-top: 2rem;
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    display: block;
    bottom: 0;
    background-color: var(--green-blue-light);
    transition: width 0.2s;
}

.links li a:hover::after {
    width: 100%;
}

.links li.button a {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--green-blue-light);
    color: var(--gray-button-header);
    padding: 12px 12px;
    border-radius: 1.5rem;
}

