.navBar {
    position: fixed;
    z-index: 200;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    background-color: rgba(66, 66, 66, 0.2);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.scroll {
    background-color: rgb(56, 56, 56);
}

.links {
    display: flex;
    align-items: center;
    gap: 70px;
}

.logo-menu {
    background-color: transparent;
    position: absolute;
    z-index: 201;
    left: 0;
    margin-left: 4rem;
    margin-top: 1rem;
    border: none;
    height: auto;
    display: none;
    visibility: hidden;
}

.button-menu {
    background-color: transparent;
    position: absolute;
    z-index: 201;
    right: 0;
    margin-right: 4rem;
    margin-top: 2rem;
    border: none;
    height: auto;
    width: 4rem;
    display: none;
    visibility: hidden;
    opacity: 0;
}

.links li .icon-menu {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.links li a:not(.button2) {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--green-blue-light);
    padding-bottom: 1rem;
    max-width: max-content;
}

.links li a:not(.button2)::after {
    margin-top: 2rem;
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    display: block;
    bottom: 0;
    background-color: var(--green-blue-light);
    transition: width 0.2s;
}

.links li a:hover:not(.button2)::after {
    width: 100%;
}

.links li.button {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--green-blue-light);
    padding: 12px 12px;
    border-radius: 1.5rem;
}

.links li.button a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-button-header);
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    max-width: max-content;
}

@media screen and (max-width: 1268px) {
    .navBar {
        padding-inline: 40px;
    }

    .links {
        display: flex;
        gap: 4.5rem;
    }

    .links li a {
        font-size: 1.6rem;
    }

    .links li.button a {
        font-size: 1.5rem;
        gap: 6px;
        padding: 0px 8px;
    }

    .links li.button a img {
        width: 2.2rem;
    }
}

@media screen and (max-width: 940px) {

    .navBar {
        padding-bottom: 4.5rem;
    }

    .logo-menu {
        display: initial;
        visibility: initial;
    }

    .open-menu.button-menu {
        display: initial;
        visibility: initial;
        opacity: initial;   
    }

    .close-menu.button-menu {
        display: initial;
        visibility: initial;
        opacity: initial;
    }

    .links li .icon-menu {
        opacity: 1;
        visibility: initial;
        display: initial;
        object-fit: contain;
        width: 3rem;
        height: auto;
    }

    ul.links {
        padding-top: calc(var(--header-size) - 3rem);
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--background-color);
        width: 100vw;
        height: 100vh;
        transform: translateY(100%);
        display: flex;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-start;
        transition: transform 1000ms;
    } 

    ul.links.menu-expanded {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: transform 300ms;
    }


    ul.links::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 222;
        width: 100vw;
        height: 3px;
        left: 0;
        right: 0;
        top: calc(var(--header-size) - 6rem);
        background-color: rgba(217, 217, 217, 0.12);
    }

    .links li a:hover:not(.button2)::after {
        width: 0%;
    }    

    .links li {
        position: relative;
        padding-left: 3.8rem; 
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2px solid rgba(217, 217, 217, 0.12);
    }
    .links li:not(.button)::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 222;
        width: 100vw;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -20px;
        background-color: rgba(217, 217, 217, 0.12);
    }
    
    .links li a:not(.button2) {
        font-size: 2.2rem;
        color: rgb(255, 255, 255, 0.65);
        padding: 0;
        max-width: max-content;
    }
    
    .links li.button {
        margin-left: 3.8rem;
        width: 90%;
    }

    .links li.button a {
        font-size: 3rem;
        font-weight: 700;
        gap: 2rem;
    }

    .links li.button a img {
        width: 3.2rem;
    }
}

@media screen and (max-width: 940px) {
    .button-menu {
        margin-right: 1.5rem;
    }

    .logo-menu {
        margin-left: 1.5rem;
        max-width: 20rem;
    }

    .links li .icon-menu {
        width: 2.5rem;
        height: auto;
    }

    .links li a:not(.button2) {
        font-size: 2rem;
    }

    .links li.button {
        width: 80%;
    }

    .links li.button a {
        font-size: 2rem;
    }

    .links li.button a img {
        width: 3rem;
    }

}
