.informations {
    margin-top: 5rem;
    padding-bottom: 10rem;
    border-bottom: 3px solid var(--blue-general-text);
}

.informations .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informations .wrapper h2 {
    margin-bottom: 3rem;
}

.informations__content {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.informations__content .card {
    padding: 2rem 4rem;
}

.informations__content .img > img {
    display: block;
    height: 32.4rem;
    max-height: 32.4rem;
    max-width: 32.4rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;

}

.informations__content .informations__content__info {
    padding: 2.4rem 4rem;
    background-color: var(--background-card-info);
    border-radius: .5rem;
    height: 37rem;
}


.informations__content .informations__content__info h3 {
    color: var(--text-informations);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: normal;
    display: inline;
}

.informations__content .informations__content__info h3 span {
    color: var(--blue-general-text);
}

.informations__content__wrapper {
    margin-top: 5rem;
    display: flex;
    gap: 8.1rem;
}

.informations__hour_content div {
    margin-bottom: 1.5rem;
}

.informations__hour_content p {
    color: var(--text-informations);
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: normal;
}

.informations__hour_content span {
    color: var(--blue-general-text);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: normal;
}

.informations__content__wrapper img {
    max-width: 13.6rem;
}

.informations__cards__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 22.4rem);
    row-gap: 2.4rem;
    column-gap: 6rem;
    margin-top: 5rem;
}

.informations__payment_card {
    padding: 2rem 4rem;
    font-size: 2.4rem;
    color: var(--text-card-color);
    border-radius: .5rem;
    border: 1px solid var(--gray-button-header);
    background: var(--background-card-color);
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1268px) {
    .informations__content {
        gap: 2rem;
    }

    .informations__content .img > img {
        display: block;
        height: 28rem;
        max-height: 28rem;
        max-width: 28rem;
        margin: 0 auto;
        margin-bottom: 2.4rem;
    }

    .informations__content .informations__content__info {
        padding: 1.8rem 3rem;
        height: 30rem;
    }

    .informations__content .informations__content__info h3 {
        font-size: 2.4rem;
    }

    .informations__content__wrapper {
        gap: 5rem;
    }

    .informations__hour_content p {
        font-size: 2rem;
    }

    .informations__hour_content span {
        font-size: 1.6rem;
    }
    
    .informations__content__wrapper img {
        max-width: 10rem;
    }    

    
    .informations__cards__wrapper {
        grid-template-columns: repeat(2, 16rem);
        row-gap: 1.4rem;
        column-gap: 3rem;
        margin-top: 5rem;
    }

    .informations__payment_card {
        padding: 1.8rem 3.8rem;
        font-size: 2.2rem;
    }
    
}

@media screen and (max-width: 940px) {
    .informations__content {
        gap: 2rem;
    }

    .informations__content .img > img {
        display: block;
        height: 24rem;
        max-height: 24rem;
        max-width: 24rem;
        margin: 0 auto;
        margin-bottom: 2.4rem;
    }

    .informations__content .informations__content__info {
        padding: 1.8rem 3rem;
        height: 23rem;
    }

    .informations__content .informations__content__info h3 {
        font-size: 2.2rem;
    }

    .informations__content__wrapper {
        gap: 4rem;
    }

    .informations__hour_content p {
        font-size: 1.8rem;
    }

    .informations__hour_content span {
        font-size: 1.5rem;
    }
    
    .informations__content__wrapper img {
        max-width: 7rem;
    }    
    
    .informations__cards__wrapper {
        grid-template-columns: repeat(2, 12rem);
        row-gap: 1.4rem;
        column-gap: 3rem;
        margin-top: 5rem;   
    }

    .informations__payment_card {
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 740px) {
    .informations__content {
        gap: 1.5rem;
    }

    .informations__content .img > img {
        height: 20rem;
        max-height: 20rem;
        max-width: 20rem;
        margin-bottom: 1rem;
    }

    .informations__content .informations__content__info {
        padding: 1.6rem 2.6rem;
        height: 25rem;
    }

    .informations__content .informations__content__info h3 {
        font-size: 2rem;
    }

    .informations__content__wrapper {
        gap: 4rem;
        margin-top: 2.8rem;
    }

    .informations__hour_content p {
        font-size: 1.6rem;
    }

    .informations__hour_content span {
        font-size: 1.4rem;
    }
    
    .informations__content__wrapper img {
        max-width: 7rem;
    }    
    
    .informations__cards__wrapper {
        grid-template-columns: repeat(2, 10rem);
        row-gap: 1.2rem;
        column-gap: 2.8rem;
        margin-top: 5rem;   
    }

    .informations__payment_card {
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
}



