@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  font-size: 62.5%; /* 1rem = 10px */ /* 1rem = 16 px no font-size: 100% */
  --gray-button-header: #464646;
  --white-subtitle-color: #EFEFEF;
  --green-blue-light: #63FFD0;
  --black-card-text: #1E1E1E;
  --yellow-card-background: #C3DB3D;
  --blue-general-text: #3BDBAB;
  --white: #FFFFFF;
  --gray-background: #2B2B2B;
  --gray-services-text: #c2c2c2;
  --header-size: 134px;
  --background-card-info: #323131;
  --text-informations: #E6E7E8;
  --text-card-color: #AFAEAF;
  --background-card-color: #2A2A2A;
  --background-color: #2B2B2B;

}

* {
  font-family: 'Kumbh Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow-card-background);
}
 
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-general-text);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.wrapper {
  max-width: 1212px;
  margin: 0 auto;
}

.title {
  color: var(--yellow-card-background);
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 25%);
  font-size: 5.2rem;
  font-weight: 700;
}

.subtitle {
  color: var(--yellow-card-background);
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 25%);
  font-size: 3.6rem;
  font-weight: 700;
}

.description {
  color: var(--white);
  font-size: 1.8rem;
  font-family: Poppins;
  font-weight: 500;
  margin-top: 2rem;
}


@media screen and (max-width: 1268px) {
  .wrapper {
    max-width: 900px;
  }

  .title {
    font-size: 4.8rem;
  }

  .subtitle {
    font-size: 3.2rem;
  }

  .description {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 940px) {
    .wrapper {
      max-width: 700px;
    }

    .title {
      font-size: 4.6rem;
    }

    .subtitle {
      font-size: 3rem;
    }

    .description {
      font-size: 1.2rem;
    }
}

